.arc_chart_area{
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
background-color: #2A2A2A;

}
.raw_chart_area{
    /* display: flex; */
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    /* justify-content: flex-start; */
    /* justify-content: space-between; */
background-color: #2A2A2A;

}
.title_and_btn{
    display: flex;
    /* flex-direction: row; */
    align-items: flex-start;
    /* margin-right: 15px;   */
    /* align-content: space-between; */
    justify-content: space-between;
    /* justify-content: space-between; */
}
.arc_chart_title{

    color: white;
    padding-left: 10px;
}.raw_chart_title{
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
}
.maximum_btn{
    /* margin-left: 1080px; */
    color: white;
    background: #000;
}
.arc_chart{
    width: 1880px;
   background-color: #404040;
   height: 352px;
   color: white;
   border-radius: 14px;
   margin: 10px;
}
.raw_chart{
    width: 1880px;
    background-color: #404040;
    height: 352px;
    color: white;
    border-radius: 14px;
 margin-left: 10px;
 margin-right: 10px;
 margin-bottom: 10px;
 }
 .freeze_btn{
    position: absolute;
    left: 6rem; 
    /* padding-left: 1.5rem; */
    /* margin-left: 0;   */
   background-color:  #0078D7;
   border-color: #0078D7;
   color: white;
   border-radius: 14px;
 }